[workspace]
resolver = "2"
members = [
    "crates/regiojet-api",
    "crates/rustjet-core",
    "crates/rustjet-cli",
]

[workspace.package]
version = "0.1.0"
edition = "2024"

[profile.release]
debug = true
lto = true
opt-level = 3
